/* mobile.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

body {
  color: #333;
  font-size: 14px;
}

label {
  display: none;
}

input::placeholder {
  font-size: 12px;
}

button {
  font-size: 12px;
}

.wrap {
  padding: 20px 10px;
  width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.header h1 {
  font-size: 24px;
}

.header form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header input {
  padding: 2px;
  width: 150px;
}

.header input::placeholder {
  font-size: 12px;
}

.header button {
  padding: 3px 5px;
  border: 0.1px solid #333;
  background: #fafaff;
  color: #333;
  border-radius: 2px;
}

.header button:hover {
  background: #333;
  color: #fff;
}

.total-users {
  margin-top: 20px;
  color: #999;
  font-size: 12px;
  text-align: right;
}

.list-wrap {
  margin-top: 5px;
  max-height: 317px;
  overflow-y: scroll;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list-wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.user-list {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 13px;
}

.user-list thead {
  background: #f5f5ff;
  position: sticky;
  top: 0px;
  font-size: 14px;
}

.user-list th,
.user-list td {
  height: 35px;
  padding: 0 5px;
}

.user-list th {
  border-bottom: 1px solid #999;
}

.user-list td {
  border-bottom: 0.1px solid #ccc;
}

.user-list button {
  padding: 3px 5px;
  border: 0.1px solid #f55;
  background: none;
  color: #f55;
  border-radius: 2px;
}

.user-list button:hover {
  background: #f55;
  color: #fff;
}

.list-wrap .warn-txt {
  font-size: 14px;
  padding-left: 20px;
  line-height: 35px;
}

.new-userinfo {
  margin-top: 30px;
}

.new-userinfo .new-user {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.new-userinfo .new-user .new-user-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.new-userinfo .new-user .new-user-head button {
  padding: 3px 5px;
  border: 0.1px solid #55f;
  background: none;
  color: #55f;
  border-radius: 2px;
}

.new-userinfo .new-user .new-user-head button:hover {
  background: #55f;
  color: #fff;
}

.new-user input {
  padding: 4px;
}

.new-userinfo .user_sex_box label {
  display: inline;
  font-size: 13px;
}

.new-userinfo .user_sex_box {
  display: flex;
  gap: 30px;
}
